@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@model List<SampleSite.Addins.Album.Models.AppAddinModel>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h3>Registered Plugins</h3>
    <ul class="pladmin-pluginlist">
        ManageAlbum------------
    </ul>
